@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700&family=Jost:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  background: #FD0F67;
  color: #ffffff;
  text-shadow: none;
}

::selection {
  background: #FD0F67;
  color: #ffffff;
  text-shadow: none;
}

.clear {
  clear: both;
}

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

a {
  cursor: pointer;
}

html,
body {
  height: 100%;
  width: 100%;
  position: relative;
}

body {
  width: 100%;
  line-height: 24px;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

.page {
  margin: 0 auto;
  max-width: 400px;
  position: relative;
}

.top-page-header {
  position: absolute;
  top: 0;
  padding: 15px 15px;
  z-index: 9999;
  width: 100%;
}

.top-page-header .cart-and-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.top-page-header .cart-and-back .back-button {
  background: #ffffff;
  width: 32px;
  height: 24px;
  text-align: left;
  display: block;
  color: #B3275A;
  border-radius: 10px;
  font-size: 14px;
  letter-spacing: 0;
  text-indent: 5px;
}

.top-page-header .cart-and-back .cart-button {
  background: #ffffff;
  width: 32px;
  height: 24px;
  text-align: center;
  display: block;
  color: #B3275A;
  border-radius: 20px;
  font-size: 16px;
  letter-spacing: 0;
  padding: 0px;
}

.top-page-header .restaurant-menu-header-freeze {
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 00px;
  width: 100%;
}

.top-page-header .restaurant-menu-header-freeze .restaurant-menu-filter-icon {
  height: 24px;
  width: 24px;
  display: block;
  position: relative;
  padding-top: 4px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(180deg, white 0, rgba(255, 255, 255, 0) 100%);
}

.top-page-header .restaurant-menu-header-freeze .restaurant-menu-filter-icon .hamburger-inner {
  display: block;
  height: 2px;
  width: 100%;
  background-color: #C10A4C;
}

.top-page-header .restaurant-menu-header-freeze .restaurant-menu-filter-icon .hamburger-inner::before {
  display: block;
  height: 2px;
  width: 100%;
  background-color: #C10A4C;
  content: '';
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

.top-page-header .restaurant-menu-header-freeze .restaurant-menu-filter-icon .hamburger-inner::after {
  display: block;
  height: 2px;
  width: 100%;
  background-color: #C10A4C;
  content: '';
  -webkit-transform: translateY(11px);
          transform: translateY(11px);
}

.top-page-header .restaurant-menu-header-freeze .menu-categories {
  width: calc(100% - 30px);
  overflow-x: auto;
}

.top-page-header .restaurant-menu-header-freeze .menu-categories ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.top-page-header .restaurant-menu-header-freeze .menu-categories ul li {
  width: auto;
  margin: 0 8px;
}

.top-page-header .restaurant-menu-header-freeze .menu-categories ul li a {
  text-align: left;
  text-transform: uppercase;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  display: block;
  color: #0D0D0D;
  white-space: pre;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.top-page-header .restaurant-menu-header-freeze .menu-categories ul li a.active-category {
  font-weight: bold;
  color: #C10A4C;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.top-page-header.freeze-header {
  background: #ffffff;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: fixed;
  padding: 15px 15px;
  top: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-box-shadow: rgba(13, 13, 13, 0.1) 0px 2px 4px;
          box-shadow: rgba(13, 13, 13, 0.1) 0px 2px 4px;
}

.top-page-header.freeze-header .restaurant-menu-header-freeze {
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  padding-top: 15px;
}

.home-slider {
  position: relative;
}

.home-slider .slider-item {
  width: 100%;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  overflow: hidden;
}

.home-slider .owl-carousel .owl-nav {
  overflow: hidden;
  height: 0px;
}

.home-slider .owl-carousel .item {
  text-align: center;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  overflow: hidden;
}

.home-slider .owl-carousel .nav-button {
  height: 50px;
  width: 25px;
  cursor: pointer;
  position: absolute;
  top: 50% !important;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 99;
}

.home-slider .owl-carousel .owl-prev.disabled,
.home-slider .owl-carousel .owl-next.disabled {
  pointer-events: none;
  opacity: 0.25;
}

.home-slider .owl-carousel .owl-prev {
  left: 10px;
}

.home-slider .owl-carousel .owl-next {
  right: 10px;
}

.home-slider .owl-nav [class*=owl-] {
  color: #ffffff;
  font-size: 16px;
  border-radius: 3px;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.home-slider .owl-nav [class*=owl-]:hover {
  opacity: 0.7;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.home-slider .owl-carousel .prev-carousel:hover {
  background-position: 0px -53px;
}

.home-slider .owl-carousel .next-carousel:hover {
  background-position: -24px -53px;
}

.home-slider .owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: 100%;
  min-width: 320px;
  margin: 30px auto 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  bottom: 15px;
  position: absolute;
  z-index: 9999;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-slider button.owl-dot {
  width: 7px;
  height: 7px;
  background-color: #A9A9AA !important;
  display: block;
  border-radius: 10px;
  margin: 0 4px;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: .9;
}

.home-slider button.owl-dot.active {
  background-color: #C10A4C !important;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 1;
}

.shop-tabs {
  margin: 0 auto;
  margin-top: 5px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}

.shop-tabs.tabs-sticky {
  position: fixed;
}

.shop-tabs .nav {
  position: relative;
  width: 94%;
  margin: 0 auto;
  height: 32px;
  border-radius: 30px;
  background-color: rgba(169, 169, 170, 0.2);
}

.shop-tabs .nav_copy {
  margin-top: 80px;
}

.shop-tabs .nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  z-index: 1;
}

.shop-tabs .nav__item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.shop-tabs .nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  color: #0D0D0D;
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: absolute;
  width: 100%;
  z-index: 999;
  font-weight: 600;
  font-size: 13px;
}

.nav_copy .shop-tabs .nav__link {
  -webkit-transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}

.shop-tabs .nav__link_active {
  color: #ffffff;
}

.shop-tabs .nav__slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0px;
  pointer-events: none;
  z-index: 0;
}

.nav_copy .shop-tabs .nav__slider {
  left: 3px;
  right: 3px;
  padding: 0;
}

.shop-tabs .nav__slider-rect {
  width: 33.3%;
  height: 100%;
  background-color: #C10A4C;
  border-radius: 30px;
  -webkit-transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
}

.nav_copy .shop-tabs .nav__slider-rect {
  position: absolute;
  top: 3px;
  left: 0;
  right: 66.6%;
  bottom: 3px;
  height: auto;
  width: auto;
  -webkit-transition: all 0.3s cubic-bezier(1, 0.48, 0.71, 0.96);
  transition: all 0.3s cubic-bezier(1, 0.48, 0.71, 0.96);
}

.shop-tabs .tabs-wrap {
  position: relative;
  top: 0;
  left: 0;
  padding-top: 20px;
}

.shop-tabs .tabs-wrap .tab-contents {
  padding: 0;
  list-style: none;
  overflow: hidden;
  position: relative;
}

.shop-tabs .tabs-wrap .tab-contents .tab-content-item {
  margin: auto;
  width: 100%;
  -webkit-transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: block;
  visibility: hidden;
  height: 0;
}

.shop-tabs .tabs-wrap .tab-contents .tab-content-item.tab-is-open {
  visibility: visible;
  -webkit-transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  height: auto;
}

.shop-tabs .tabs-wrap .tab-contents .tab-content-item.restaurant-menu .restaurant-menu-header {
  position: relative;
  z-index: 999999;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 00px;
  margin: 0 auto;
  width: 90%;
}

.shop-tabs .tabs-wrap .tab-contents .tab-content-item.restaurant-menu .restaurant-menu-header .restaurant-menu-filter-icon {
  height: 24px;
  width: 24px;
  display: block;
  position: relative;
  padding-top: 4px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(180deg, white 0, rgba(255, 255, 255, 0) 100%);
}

.shop-tabs .tabs-wrap .tab-contents .tab-content-item.restaurant-menu .restaurant-menu-header .restaurant-menu-filter-icon .hamburger-inner {
  display: block;
  height: 2px;
  width: 100%;
  background-color: #C10A4C;
}

.shop-tabs .tabs-wrap .tab-contents .tab-content-item.restaurant-menu .restaurant-menu-header .restaurant-menu-filter-icon .hamburger-inner::before {
  display: block;
  height: 2px;
  width: 100%;
  background-color: #C10A4C;
  content: '';
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

.shop-tabs .tabs-wrap .tab-contents .tab-content-item.restaurant-menu .restaurant-menu-header .restaurant-menu-filter-icon .hamburger-inner::after {
  display: block;
  height: 2px;
  width: 100%;
  background-color: #C10A4C;
  content: '';
  -webkit-transform: translateY(11px);
          transform: translateY(11px);
}

.shop-tabs .tabs-wrap .tab-contents .tab-content-item.restaurant-menu .restaurant-menu-header .menu-categories {
  width: calc(100% - 30px);
  overflow-x: auto;
}

.shop-tabs .tabs-wrap .tab-contents .tab-content-item.restaurant-menu .restaurant-menu-header .menu-categories ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.shop-tabs .tabs-wrap .tab-contents .tab-content-item.restaurant-menu .restaurant-menu-header .menu-categories ul li {
  width: auto;
  margin: 0 8px;
}

.shop-tabs .tabs-wrap .tab-contents .tab-content-item.restaurant-menu .restaurant-menu-header .menu-categories ul li a {
  text-align: left;
  text-transform: uppercase;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  display: block;
  color: #0D0D0D;
  white-space: pre;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.shop-tabs .tabs-wrap .tab-contents .tab-content-item.restaurant-menu .restaurant-menu-header .menu-categories ul li a.active-category {
  font-weight: bold;
  color: #C10A4C;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.restaurant-menu-filter {
  visibility: hidden;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  background-color: #ffffff;
  z-index: 99999999999999999999;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  -webkit-transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.restaurant-menu-filter.restaurant-menu-filter-open {
  display: block;
  visibility: visible;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.restaurant-menu-filter ul {
  width: 100%;
  padding-top: 30px;
}

.restaurant-menu-filter ul li {
  width: 100%;
  margin-bottom: 10px;
}

.restaurant-menu-filter ul li a {
  text-align: center;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  display: block;
  color: #0D0D0D;
}

.restaurant-menu-filter-overlay {
  position: fixed;
  background-color: rgba(13, 13, 13, 0.9);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  height: 100%;
  width: 100%;
  display: block;
  z-index: 99999;
  left: 0;
  top: 100%;
  -webkit-transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  border-radius: 190px;
  opacity: 0;
}

.restaurant-menu-filter-overlay-active {
  top: 0%;
  -webkit-transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  border-radius: 0px;
  opacity: 1;
}

.menu-foods {
  display: block;
  width: 100%;
  padding: 0 4%;
  margin-top: 10px;
}

.menu-foods section {
  margin-top: 15px;
}

.menu-foods section h2 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.menu-foods section ul {
  width: 100%;
}

.menu-foods section ul li {
  width: 100%;
  margin-bottom: 10px;
}

.menu-foods section ul li a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  border-radius: 15px;
  -webkit-box-shadow: rgba(13, 13, 13, 0.1) 0 0 20px;
          box-shadow: rgba(13, 13, 13, 0.1) 0 0 20px;
  padding: 7px;
}

.menu-foods section ul li a .food-image {
  width: 30%;
  aspect-ratio: 4/3;
  border-radius: 10px;
  overflow: hidden;
  margin: auto 0;
}

.menu-foods section ul li a .food-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.menu-foods section ul li a .food-details {
  width: 70%;
  padding-left: 15px;
}

.menu-foods section ul li a .food-details h3 {
  font-size: 15px;
  text-transform: capitalize;
  padding-bottom: 0px;
  color: #0D0D0D;
}

.menu-foods section ul li a .food-details p {
  font-size: 10px;
  line-height: 14px;
  color: #A9A9AA;
}

.menu-foods section ul li a .food-details h4 {
  font-weight: 700;
  padding-top: 0px;
  color: #C10A4C;
  font-size: 15px;
}

.overview-container {
  width: 92%;
  margin: 0 auto;
  padding: 20px 0;
}

.overview-container .restaurant-header {
  width: 100%;
}

.overview-container .restaurant-header h2 {
  font-size: 24px;
  letter-spacing: 0.24px;
  font-weight: 600;
  color: #0D0D0D;
  margin-bottom: 5px;
}

.overview-container .restaurant-header p {
  font-size: 13px;
  color: #A9A9AA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-bottom: 5px;
}

.overview-container .restaurant-header p span {
  font-size: 16px;
  padding-right: 10px;
}

.overview-container .restaurant-header .ratings-and-distance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.overview-container .restaurant-header .ratings-and-distance .rating {
  width: calc(100% - 90px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffd000;
}

.overview-container .restaurant-header .ratings-and-distance .rating ul {
  width: auto;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  font-size: 10px;
  margin-right: 10px;
}

.overview-container .restaurant-header .ratings-and-distance .rating ul li {
  margin-right: 4px;
}

.overview-container .restaurant-header .ratings-and-distance .rating span {
  width: 30px;
  font-size: 12px;
  color: #0D0D0D;
  font-weight: 600;
}

.overview-container .restaurant-details ul {
  width: 100%;
}

.overview-container .restaurant-details ul li {
  width: 100%;
  border-top: 1px solid rgba(169, 169, 170, 0.3);
  padding: 15px 0;
}

.overview-container .restaurant-details ul li .detail-icon {
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: #C10A4C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
}

.overview-container .restaurant-details ul li .detail-icon i {
  margin: auto 0;
}

.overview-container .restaurant-details ul li h3 {
  font-size: 16px;
  font-weight: 600;
  color: #0D0D0D;
}

.overview-container .restaurant-details ul li p {
  font-size: 14px;
  margin-top: 5px;
  line-height: 17px;
  color: #A9A9AA;
}

.reviews-container {
  width: 92%;
  margin: 0 auto;
  padding: 20px 0;
  padding-bottom: 60px;
}

.reviews-container .review-list ul {
  width: 100%;
}

.reviews-container .review-list ul li {
  width: 100%;
  padding: 15px 0;
}

.reviews-container .review-list ul li .user-and-rating {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.reviews-container .review-list ul li .user-and-rating h3 {
  font-size: 14px;
  font-weight: 600;
  color: #0D0D0D;
  padding-right: 10px;
}

.reviews-container .review-list ul li .user-and-rating p {
  font-size: 12px;
  margin-top: 5px;
  line-height: 17px;
  color: #0D0D0D;
  margin: auto 0;
  font-weight: 600;
}

.reviews-container .review-list ul li .user-and-rating p i {
  color: #ffd000;
  font-size: 10px;
  margin: auto 0;
}

.reviews-container .review-list ul li .user-and-rating p span {
  margin-left: 3px;
}

.reviews-container .review-list ul li .comments {
  margin-top: 5px;
  width: 100%;
}

.reviews-container .review-list ul li .comments p {
  font-size: 12px;
  line-height: 17px;
  color: #A9A9AA;
  margin: auto 0;
  font-weight: 500;
}

.reviews-container .add-review-btn-area {
  position: -webkit-sticky;
  position: sticky;
  bottom: 5%;
  width: 100%;
  max-width: 300px;
  margin: 50px auto;
}

.reviews-container .add-review-btn-area .add-review-btn {
  background-color: #C10A4C;
  border-radius: 50px !important;
  width: 100%;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.5px;
  font-weight: 400;
  font-size: 16px;
  padding: 10px 0;
  border: none;
}
/*# sourceMappingURL=style.css.map */